.article {
  margin: 20px;
  
  .article-card {
    margin: auto;
    max-width: 80%;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;

    .thumnails {
      max-width: 270px;

      img {
        width: 100%;
        max-width: 270px;
        display: block;
        color: transparent;
        // margin: auto;
      }
    }

    .box-title-text {
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: #222;
      display: block;
    }

    // a {
    //   color: #222;
    //   text-decoration: none;

    //   &:hover {
    //     color: red;
    //   }
    // }
  }

  .title-article {
    font-size: 22px;
    line-height: 28px;
    color: #222;
    font-weight: 700;
    display: block;
  }

  .content-snippet {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #565656;
    display: block;
    overflow: hidden;
    max-height: 110px;
  }
}