.Header {
    text-align: center;
  }
  
  .navbar {
    background-color: #ff0000;
    color: #ffffff;
    padding: 10px 0;
  }
  
  .logo {
    height: 50px;
    margin: 0 20px;
  }
  
  .navbar-top,
  .navbar-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-top-links,
  .navbar-bottom a {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .navbar-top-links a,
  .navbar-bottom a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .btn-subscribe {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 20px;
  }
  